* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p { cursor: pointer}
/*background-color:*/
/*#2f3be3*/
/* Navbar section  */
.navbar {
  width: 100%;
  background: rgba(28, 39, 171, 0.59);
  backdrop-filter: blur(20px);
  padding: 10px 90px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  border-radius: 0 0 15px 15px;
}

/*Navbar section -- menus  */
.menus {
  display: flex;
  align-items: center;
}

.menus a {
  margin: 12px;
  color: #ffffff;
  font-size: 00.9rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.menus a:hover {
  color: #baed29;
  transform: translateY(-2px);
  transition: 0.4s;
}

/*Navbar section -- logo */
.logo {
  width: 200px;
  text-align: center;
}

.logo-name {
  color: #ffffff;
  font-weight: 300;
}

.logo-motto {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
}

/* Navbar section --phone number  */
.call {
  width: 500px;
  text-align: right;
  font-size: 0.9rem;
}

.call-text,
.call-number {
  margin-bottom: 7px;
  color: #ffffff;
}

.fa-phone {
  margin: 5px;
  color: #baed29;
}

.formil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home section  */
.home-section {
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
  background: linear-gradient(
      180deg,
      rgba(39, 38, 64, 0.69) 0%,
      rgba(39, 38, 64, 0) 70.92%,
      #272640 149.57%
    ),
    url("./images/backgorund.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

/* Home section  --booking form */
.booking-form {
  padding: 20px 35px;
  margin-right: 40px;
  width: 500px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.zalop {
  background: rgba(59, 58, 66, 0.78);

}

.booking-fomr__title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
  color: #ffffff;
}

.booking-fomr__subtitle {
  font-size: 16px;
  line-height: 25px;
  margin: 25px 10px;
  color: #ffffff;
  font-weight: 300;
}

input,
select {
  padding: 12px;
  margin: 4px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
}

.booking-form__button {
  margin: 15px 5px;
  padding: 7px 15px;
  text-transform: capitalize;
  background-color: #baed29;
  border: none;
  border-radius: 15px;
}

/* Home section  --information */

.information {
  width: 700px;
}

.information-title {
  width: 500px;
  color: #ffffff;
  font-weight: 300;
  font-size: 3rem;
}

.information-subtitle {
  width: 500px;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.8rem;
}

.information-carusel {
  width: 800px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 34px 135px rgba(0, 0, 0, 0.04),
    0px 13.0963px 43px rgba(0, 0, 0, 0.1),
    0px 2.77037px 11px rgba(0, 0, 0, 0.0157037);
  backdrop-filter: blur(30px);
  border: 1px solid #eeeeee;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.information-carusel img {
  margin: 5px;
  width: 180px;
  height: 180px;
}

/* About section  */
.about-section {
  padding: 150px 0;
  display: flex;
  justify-content: center;
}

/* About section --image */
.about-section__image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section__image1 {
  width: 200px;
  margin: 15px;
}

.about-section__image2 {
  width: 250px;
  margin: 15px;
}

/* About section --info*/
.about-section__info {
  width: 50%;
}

.about-info__title {
  font-size: 2rem;
  color: #272640;
  width: 80%;
}

.about-info__subtitle {
  margin: 10px 0;
  line-height: 1.7rem;
  color: #979797;
  width: 90%;
}

.about-info__checks {
  margin: 10px 0;
  line-height: 1.8rem;
  color: #979797;
  width: 50%;
}

.about-info__checks div i {
  margin-right: 5px;
  padding: 5px;
  color: #272640;
  background-color: #f1fbd4;
  border-radius: 50%;
}

.about-info__image img {
  width: 500px;
}

/* solution section  */
.solution-header {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.solution-header_title {
  font-size: 2rem;
  color: #272640;
}

.solution-header_subtitle {
  margin: 10px 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #979797;
}

.solution-header_buttons i {
  padding: 15px 20px;
  margin: 5px;
  border-radius: 50%;
  font-size: 1.2rem;
}

.solution-header_buttons .fa-angle-right {
  background-color: #baed29;
}

.solution-header_buttons .fa-angle-left {
  border: 3px solid #baed29;
}

/* solution section  --cards*/
.solution-cards {
  display: flex;
  justify-content: space-evenly;
}

.solution-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px 10px;
  margin-bottom: 40px;
  width: 300px;
  background: #ffffff;
  box-shadow: 0px 34px 135px rgba(0, 0, 0, 0.04),
    0px 13.0963px 43px rgba(0, 0, 0, 0.1),
    0px 2.77037px 11px rgba(0, 0, 0, 0.0157037);
  backdrop-filter: blur(30px);
  border-radius: 24px;
  text-align: center;
}

.solution-card img {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.solution-card h2 {
  color: #272640;
  padding-top: 10px;
}

.solution-card p {
  margin: 6px 0;
  font-size: 0.8rem;
  color: #979797;
}

.solution-card a {
  color: #baed29;
}

/* how we work section  */
.how-section {
  padding: 50px 30px;
}

.how-title {
  text-align: center;
  font-size: 2rem;
  color: #272640;
}

.how-subtitle {
  margin: 10px 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #979797;
  text-align: center;
}

.how-carusel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic img {
  position: relative;
  margin: 10px 30px;
  width: 95%;
}

.pic .fa-play {
  padding: 15px 20px;
  margin: 5px;
  position: relative;
  top: -350px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
  border-radius: 50%;
  font-size: 2rem;
  color: #baed29;
  border: 20px solid rgba(255, 255, 255, 0.711);
}

.how-carusel i {
  padding: 15px 20px;
  margin: 5px;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid #baed29;
}

/* booking section  */
.booking-section {
  display: flex;
  justify-content: space-evenly;
}

.booking-section__info {
  width: 500px;
}

.booking-info__title {
  font-size: 2rem;
  color: #272640;
  margin-bottom: 30px;
}

.booking-info__subtitle {
  margin: 10px 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #979797;
  margin-bottom: 20px;
}

.booking-info__button {
  margin: 15px 5px;
  padding: 7px 15px;
  text-transform: capitalize;
  background-color: #baed29;
  border: none;
  border-radius: 15px;
}

.booking-section__image {
  display: flex;
}

.booking-section__image img {
  width: 550px;
}

/* our team section  */
.team-section {
  margin-top: 30px;
}

.team-section__title {
  text-align: center;
  font-size: 2rem;
  color: #272640;
  margin-bottom: 20px;
}

.team-section__subtitle {
  margin: 10px 0;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #979797;
  margin-bottom: 20px;
}

/* our team section  --cards*/
.team-section__cards {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.information-carusel {
  border-radius: 10px;
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  padding: 10px;
  width: 280px;
  background: #ffffff;
  box-shadow: 0px 13.0963px 43px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  border: 2px solid rgba(186, 237, 41, 1);
  transition: transform 0.3s;
  cursor: pointer;
}

.team-card:hover {
  transform: scale(1.1);
}

.team-card__name {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  color: #272640;
}

.team-card__position {
  text-align: left;
  font-size: 0.9rem;
  color: #979797;
}

.fa-whatsapp {
  font-size: 1.8rem;
  color: #baed29;
  position: relative;
  left: 100px;
  top: -13px;
}

.team-card__image {
  margin-top: 10px;
  width: 60%;
}

.div-for-btn {
  text-align: center;
  width: 150px;
  margin: 15px auto;
}

.team-section__button {
  padding: 7px 15px;
  text-transform: capitalize;
  background-color: #baed29;
  border: none;
  border-radius: 15px;
}

/*footer*/
footer {
  background: linear-gradient(to top left, #2f68c0, #0d0626);
  color: #fff;
  padding: 30px;
}

.footer-container {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-header {
  font-family: Ubuntu, sans-serif !important;
  border-bottom: 1px solid white;
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
}

.footer-follow {
  display: flex;
}

.footer-follow-about {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  font-size: 12px;
}

.info {
  width: 320px;
}

.send-form {
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.send-form:hover {
  background-color: #0077be;
}

.gradient-button,
.gradient-button1 {
  cursor: pointer;
  background: linear-gradient(to right, #3e68c5, #6853d9);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.4s ease;
}

.gradient-button:hover {
  background: linear-gradient(to right, #2d5ec7, #5138ce);
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #333;
  cursor: pointer;
}
.gradient-button1:hover {
  background: linear-gradient(to right, #2d5ec7, #5138ce);
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #333;
  cursor: pointer;
}

.modal {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.82);
}

.modal-content {
  background: rgba(78, 87, 190, 0.83);
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#close-button {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-button:hover,
#close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form {
  margin-top: 13px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden {
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

#notification {
  z-index: 1000;
  background-color: #286528;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.link {
  background: linear-gradient(to right, #3e68c5, #6853d9);
  color: white !important;
  border: 1px solid none;
  transition: all 0.4s ease;
  padding: 3px 13px;
  border-radius: 10px;
  cursor: pointer;
}

.link:hover {
  background: linear-gradient(to right, #2d5ec7, #5138ce);
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #333;
  cursor: pointer;
}

.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s ease-out;
}

#modalText1 {
  padding: 20px;
}

.modal-content1 {
  color: white;
  background: rgba(78, 87, 190, 0.83);
  margin: 15% auto;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header1 {
  display: flex;
  gap: 15px;
  color: white;
  align-items: center;
  border-top: 1px solid none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(5, 6, 21, 0.89);
  padding: 16px 16px;
  width: 100%;
  position: relative;
}

.modal-footer1 {
  color: white;
  border-bottom: 1px solid none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(5, 6, 21, 0.89);
  padding: 27px 16px;
  text-align: right;
}

.close1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 15px;
  margin-top: 5px;
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: rgba(78, 87, 190, 0.98);
  border: 1px solid none;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.counter-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.counter-container input[type="text"] {
  width: 40px;
  text-align: center;
  padding: 0.5rem;
}

.counter-container button:first-child {
  margin-right: auto;
}

.counter-button {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
}


.container {
  display: flex;
}

.block {
  flex: 1;
  text-align: center;
}

.number {
  font-size: 36px;
  margin: 0;
  padding: 20px;
}

.icon {
  padding: 9px;
  width: 100px;
  height: 100px;
  margin: 0;
  cursor: pointer;
  transition: transform 0.3s;

}

.icon:hover {
  transform: scale(1.1);
}

.text {
  color: #646363;
  font-family: Ubuntu, sans-serif !important;
  font-size: 18px;
  margin: 0;
}

.nav {
  padding: 92px;
}

@media (max-width: 1450px) {
  .home-section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .information-carusel {
    display: none;
  }

  .information-subtitle {
    padding-bottom: 20px;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}

@media (max-width: 1300px) {
  .about-section__image {
    display: none;
  }

  .block {
    padding: 15px;
  }
}

@media (max-width: 1050px) {
  .booking-section__image {
    display: none;
  }

  .team-section__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .solution-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-menu {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }

  .nav-menu {
    display: none;
  }
}

/*burg*/
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.nav-menu {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-menu {
  display: none;
  animation: dropdown 0.5s ease-in-out;
}

@keyframes dropdown {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.nav-menu {
  display: none;
}
@media (max-width: 1250px) {
  .hamburger-menu {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .menus {
    display: none;
  }
}


